
%title-font{
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  color: #242121;
  line-height: 75px;
  letter-spacing: -1.65px;
}

%other-font{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

%author-font{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function max($numbers...) {
  @return m#{i}n(#{$numbers});
}


