
%title-font{
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  color: #242121;
  line-height: 75px;
  letter-spacing: -1.65px;
}

%other-font{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

