@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//header
.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0;
    
  }
  &__top{
    background: #fff;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  }
  &__title {
    @extend %title-font;
    font-size: 100px;
    color: #fff;
    line-height: 122px;
    margin-bottom: 20px;
  }
  &__text {
    @extend %title-font;
    letter-spacing: 2.74286px;
    color: #FCBB08;
  }
  &__icon{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 51px;
  }
  &__list-link {
    @extend %other-font;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #373A39;
    color: inherit;
  }
  &__list-link--active{
    padding-bottom: 9px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #FCBB08;
    }
  }
}
//header
